::ng-deep body, html{
scroll-behavior: smooth;
}

.vl {
    border-left: 1px solid #6c757d;
    height: 100%;
    opacity: 0.8;
}

.faq-link{
  color: black;
  -webkit-transition: all .35s;
  transition: all .35s;
}

.faq-link:hover, .faq-link:focus
{
  /* color: #545b62; */
  color: black;
  opacity: 0.7;
}

section.contact ul.list-social li.email a {
  background-color: #2a2d31;
}

section.contact ul.list-social li.email a:hover {
  background-color: #222222;
}
