.right-nav
{
  color: #282828;
}

.w-50
{
  width: 50%;
  align: left;
}

.logo
{
  max-width: 110%;
  height: auto;
}

hr
{
  border-top: 1px solid rgba(0,0,0,0.18) !important;
}

.items
{
  font-size: 1.4em;
}

@media (min-width: 576px)
{
  .logo
  {
    max-width: 70%;
    height: auto;
  }
  .items
  {
    font-size: 2em;
  }
}

@media (min-width: 768px)
{
  .items
  {
    font-size: 3em;
  }
  .logo
  {
    max-width: 70%;
    height: auto;
  }
}

@media (min-width: 992px)
{
  .items
  {
    font-size: 3em;
  }
  .logo
  {
    max-width: 70%;
    height: auto;
  }
}

@media (min-width: 1200px)
{
  .logo
  {
    max-width: 70%;
    height: auto;
  }
  .items
  {
    font-size: 3em;
  }
}

.dropdown-content {
    display: none;
    opacity: 0;
    position: absolute;
    bottom: calc(-30%);
    z-index: 1;
    right: 0;
    border-radius: 4px;
    left: calc(100%);
    transition: opacity 10s linear;
}

.dropdown:hover .dropdown-content {
    display: block;
    opacity: 1;
}

.fb
{
    transition: all 0.3s linear;
}

.yt
{
      transition: all 0.3s linear;
}

.fb:hover{
  align-self: flex-start !important;
  margin-left: -20px;
  color: #3B5998;
}

.yt:hover
{
  align-self: flex-start !important;
  margin-left: -20px;
  color: #cc0000;
}

.btn.sharp {
  border-radius:0;
}

  .fbcolor
  {
      border: 2px solid #dee2e6;
  }

 .fbcolor:hover
 {
   border: 2px solid #3B5998;
 }

.ytcolor:hover
{
  background-color: #cc0000;
}

.links:hover
{
  cursor: pointer;
  /* color: white; */
}

.icon-present {
  font-family: 'simple-line-icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
