<div class="righ-nav mt-4">
  <div class="row justify-content-center">

      <div class="col-12">
        <a class="active links"><img src="assets/img/logo.png" alt="logo" class="mx-auto d-block rounded-circle border logo shadow-sm" (click)="loadLandpad()"></a>
        <hr class="my-3 w-50 mx-auto">
      </div>

      <div class="col-12 text-center">
        <a class="items links"><i class="icon-graph" (click)="loadDashboard()"></i></a>
      </div>

      <div class="col-12 text-center mt-2">
        <a class="items links" (click)="sendMessage()"><i class="icon-bubbles"></i></a>
      </div>

      <div class="col-12 text-center">
        <a class="items links" (click)="addPost()"><i class="icon-notebook"></i></a>
      </div>

      <div class="col-12 text-center mt-1">
        <a class="items links" (click)="createContest()"><i class="icon-present"></i></a>
      </div>
      <!-- <div class="col-12 text-center mt-2">
        <div class="dropdown fb">
          <div class="dropdown-content">
            <div class="d-flex flex-row">
              <div class="text-center">
                <a class="btn sharp "><img src="https://via.placeholder.com/75x75" class="rounded-circle fbcolor"></a>
              </div>
              <div class="text-center">
                <a class="btn sharp"><img src="https://via.placeholder.com/75x75" class="rounded-circle fbcolor"></a>
              </div>
              <div class="text-center">
                <a class="btn sharp"><img src="https://via.placeholder.com/75x75" class="rounded-circle fbcolor"></a>
              </div>
            </div>
          </div>
            <a class="items links"><i class="fab fa-facebook"></i></a>
        </div>
      </div>

      <div class="col-12 text-center mt-2">
        <div class="dropdown yt">
          <div class="dropdown-content">
            <div class="d-flex flex-row">
              <div class="text-center">
                <a class="btn sharp ytcolor"><img src="https://via.placeholder.com/75x75" class="rounded-circle border"></a>
              </div>
              <div class="text-center">
                <a class="btn sharp ytcolor"><img src="https://via.placeholder.com/75x75" class="rounded-circle border"></a>
              </div>
              <div class="text-center">
                <a class="btn sharp ytcolor"><img src="https://via.placeholder.com/75x75" class="rounded-circle border"></a>
              </div>
            </div>
          </div>
          <a class="items links"><i class="fab fa-youtube"></i></a>
        </div>
      </div> -->

    <div class="col-12 text-center mt-4">
      <a class="items links" (click)="showSettings()"><i class="icon-settings"></i></a>
    </div>

  </div>
</div>
