<div class="container-fluid h-100">
  <div class="row">

    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 p-0 ">
      <div class="row mr-0">
        <div class="col-12 pr-0">
        <app-top-nav></app-top-nav>
        </div>
      </div>
      </div>

  </div>

<div class="position-fixed d-flex col-2 col-sm-2 col-md-2 col-lg-1 col-xl-1 mt-4" style="z-index: 1000; left:1px;">
  <app-right-nav></app-right-nav>
</div>

  <div class="row h-100">
    <div class="col-2 col-sm-2 col-md-2 col-lg-1 col-xl-1 p-0 d-flex h-100 "></div>
    <div class="col-10 col-sm-10 col-md-10 col-lg-11 col-xl-11 p-0 offset-2 offset-sm-2 offset-md-2 offset-lg-1 offset-lx-1 ml-0">
            <template #dashboardcontainer></template>
            <template #landpadcontainer></template>
            <template #addfbpostcontainer></template>
            <template #sendmessagefbcontainer></template>
            <template #makecontestcontainer></template>
            <template #settingscontainer></template>
    </div>
  </div>



</div>
