<div class="landpad">


  <div class="row justify-content-md-center mr-0 ml-0 mt-5">
    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">What's new!</h5>
          <hr class="my-4">
            <ul>
              <li>You can connect your facebook page.</li>
            </ul>
            <ul>
              <li>Smoth component loading without reloading the page!</li>
            </ul>
            <ul>
              <li>Rework of layout.</li>
            </ul>
        </div>
        <div class="card-footer text-muted text-center">
          <p style="margin: 0;">Current version: 0.1 Alpha</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row mr-0 ml-0 mt-4">
    <div class="col-12 col-sm-12 col-md-10 col-lg-10 col-xl-10 offset-md-1 offset-lg-1 offset-xl-1">
      <div class="card-deck">

        <div class="card">
          <div class="card-body">
            <h5 class="card-title">New user?</h5>
            <hr class="my-4">
              <p>Click <a href="">here</a> to learn more!</p>
          </div>
        </div>

        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Spotted a bug?!</h5>
            <hr class="my-4">
              <p>You can report it by clicking <a href="">here</a></p>
              <p>or sending us an email at <a href="mailto:bugtrack@spajstech.com?subject=Langusta Bug">bugtrack@spajstech.com</a></p>
          </div>
        </div>

      </div>
    </div>
  </div>


</div>
