@import "https://use.fontawesome.com/releases/v5.3.1/css/all.css";
@import url('https://fonts.googleapis.com/css?family=K2D');

p, h5
{
  font-family: 'K2D', sans-serif;
}

#error
{
  display: none;
}

#success
{
  display: none;
}

#info, #info2
{
  display: none;
}

#warning
{
  display: none;
}
