<div class="bgc shadow-sm">
  <div class="row mr-0 ml-0">

  <div class="col-5 d-flex align-items-center">
      <span class="d-none d-md-block d-lg-block d-lx-block ml-2">Welcome {{userFullName}}</span>
  </div>
  <div class="col-2 w-100"></div>
  <div class="col-5 d-flex flex-row-reverse">
    <a class="p-2" (click)="logout()"><i class="icon-logout links"></i></a>
    <a class="p-2"><i class="icon-user links"></i></a>
    <a class="p-2"><i class="icon-bell links"></i></a>
    <!-- <div class="dropdown align-self-center">
      <a class="p-2"><i class="fa fa-plus links"></i></a>
      <div class="dropdown-content text-left shadow-sm">
          <a class="btn sharp w-100 mt-1" (click)="sendMessage()">Send new message</a>
          <hr class="my-1 w-100">
          <a class="btn sharp w-100" (click)="addPost()">Send new post</a>
          <hr class="my-1 w-100">
          <a class="btn sharp mb-1 w-100">Make a contest</a>
      </div>
      </div> -->
    </div>
  </div>
</div>
